body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

#features {
  background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat";
  font-size: 1.2rem;
}

/* Download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title image */
.title-image {
  position: absolute;
  right: 23%;
  transform: rotate(25deg);
  width: 20%;
}

/* Features */
#features {
  background-color: #fff;
  position: relative;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

.feature-text {
  font-weight: 900;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
  color: #fff;
}

.testimonial-text {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}

/* Press */
#press {
  background-color: #ef8172;
  color: #fff;
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* Pricing */
#pricing {
  padding: 100px;
}

.card-footer {
  background-color: inherit;
  border-top: none;
}

.pricing-column {
  padding: 3% 2%;
}

.pricing-title {
  font-size: 1.5rem;
  font-weight: 900;
}

.price-text {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

@media (max-width: 1270px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}

/* CTA */
#cta {
  background-color: #ff4c68;
  color: #fff;
}

/* Footer */
.social-icon {
  margin: 10px 10px;
}
